<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if (user) { %>
      <title>Hello <%=user.name%>, Welcome to Feedback!</title>
    <% } else { %>
      <title>Hello User, Welcome to Feedback!</title>
    <% } %> 
<link href="/css/style.min.css" rel="stylesheet" />
</head>

<body>
  <h1>Welcome to Feedback</h1>

  <% if (user) { %>
    <% if (user.role === "TEACHER") { %>
      <h2>Hello Teacher <%=user.name%></h2>
 <% surveys.forEach(survey => { %>
    <button><a href="/classroom-survey/<%= survey.id %>"><%= survey.title %></a></button>
  <% }) %>
<% } else { %>
  <h2>Hello <%= user.name %></h2>
  <% surveys.forEach(survey => { %>
    <button><a href="/classroom-survey/<%= survey.id %>"><%= survey.title %></a></button>
  <% }) %>
    <% } %> 
    <button><a href="/logout">Logout</a></button>
  <% } else {%>
    <button><a href="/register">Register</a></button>
    <button><a href="/login">Login</a></button>
  <% } %>


</body>

</html>